
/* Common */
a {
  color: #c65780;
  text-decoration: none;
}
a:hover {
  border-bottom: 0 !important;
}

/* Tabs */
.tab-badge {
  display: none;
}
button[data-selected] .tab-badge {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -.5rem;
  left: -.5rem;
  font-size: .6rem;
  line-height: 1.2rem;
  background-color: #D76890;
  color: #FFF;
}

[data-reach-tab-panel] > div {
  padding-top: 1rem;
  border-top: 0;
}

[data-reach-tab-list] {
  background-color: rgb(253, 243, 244);
}

[data-reach-tab-list] button {
  margin-right: 1px;
  padding: 8px 6px;
  border: 1px solid #DDD;
  border-bottom: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  position: relative;
}

[data-reach-tab-list] button[data-selected] {
  border: 1px solid #CCC;
  border-bottom: 1px solid transparent;
  background-color: #FFF;
}
